<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier un Étudiant</title>
</head>
<body>
<h1>Modifier un Étudiant</h1>
<form th:action="@{/etudiants/update/{id}(id=${etudiant.idEtudiant})}" method="post">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" th:value="${etudiant.nom}" required><br><br>

    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" name="prenom" th:value="${etudiant.prenom}" required><br><br>

    <label for="dateNaissance">Date de Naissance :</label>
    <input type="date" id="dateNaissance" name="dateNaissance" th:value="${etudiant.dateNaissance}" required><br><br>

    <label for="idFiliere">ID Filière :</label>
    <input type="number" id="idFiliere" name="idFiliere" th:value="${etudiant.idFiliere}"><br><br>

    <button type="submit">Modifier</button>
</form>
</body>
</html>
